# [dbo].[account]

In [0]:
USE [MovieC1810L]
GO

In [0]:
/****** Object:  Table [dbo].[account]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[acc_id] [int] IDENTITY(1,1) NOT NULL,
	[acc_user] [char](50) NOT NULL,
	[acc_password] [char](50) NOT NULL,
	[acc_authorization] [char](10) NOT NULL,
	[type] [char](2) NULL,
 CONSTRAINT [PK_account] PRIMARY KEY CLUSTERED 
(
	[acc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[actor]

In [0]:
/****** Object:  Table [dbo].[actor]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actor](
	[act_id] [int] IDENTITY(1,1) NOT NULL,
	[act_fname] [char](20) NULL,
	[act_lname] [char](20) NULL,
	[act_gender] [char](1) NULL,
	[act_image] [char](50) NULL,
 CONSTRAINT [PK_actor] PRIMARY KEY CLUSTERED 
(
	[act_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[director]

In [0]:
/****** Object:  Table [dbo].[director]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[director](
	[dir_id] [int] IDENTITY(1,1) NOT NULL,
	[dir_fname] [char](20) NULL,
	[dir_lname] [char](20) NULL,
 CONSTRAINT [PK_director] PRIMARY KEY CLUSTERED 
(
	[dir_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[genres]

In [0]:
/****** Object:  Table [dbo].[genres]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genres](
	[gen_id] [int] IDENTITY(1,1) NOT NULL,
	[gen_title] [char](20) NULL,
 CONSTRAINT [PK_genres] PRIMARY KEY CLUSTERED 
(
	[gen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[movie_cast]

In [0]:
/****** Object:  Table [dbo].[movie_cast]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_cast](
	[act_id] [int] NULL,
	[mov_id] [int] NULL,
	[role] [char](30) NULL
) ON [PRIMARY]
GO

# [dbo].[movie_direction]

In [0]:
/****** Object:  Table [dbo].[movie_direction]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_direction](
	[dir_id] [int] NULL,
	[mov_id] [int] NULL
) ON [PRIMARY]
GO

# [dbo].[movie_genres]

In [0]:
/****** Object:  Table [dbo].[movie_genres]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_genres](
	[mov_id] [int] NULL,
	[gen_id] [int] NULL
) ON [PRIMARY]
GO

# [dbo].[movies]

In [0]:
/****** Object:  Table [dbo].[movies]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movies](
	[mov_id] [int] IDENTITY(1,1) NOT NULL,
	[mov_title] [char](50) NULL,
	[mov_year] [int] NULL,
	[mov_time] [int] NULL,
	[mov_lang] [char](50) NULL,
	[mov_dt_rel] [date] NULL,
	[mov_rel_country] [char](20) NULL,
 CONSTRAINT [PK_movies] PRIMARY KEY CLUSTERED 
(
	[mov_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[rating]

In [0]:
/****** Object:  Table [dbo].[rating]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rating](
	[mov_id] [int] NULL,
	[rev_id] [int] NULL,
	[rev_stars] [int] NULL,
	[num_o_ratings] [int] NULL
) ON [PRIMARY]
GO

# [dbo].[reviewer]

In [0]:
/****** Object:  Table [dbo].[reviewer]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviewer](
	[rev_id] [int] IDENTITY(1,1) NOT NULL,
	[rev_name] [char](30) NULL,
 CONSTRAINT [PK_reviewer] PRIMARY KEY CLUSTERED 
(
	[rev_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[account]

In [0]:
SET IDENTITY_INSERT [dbo].[account] ON 
INSERT [dbo].[account] ([acc_id], [acc_user], [acc_password], [acc_authorization], [type]) VALUES (1, N'admin                                             ', N'1234567                                           ', N'admin     ', N'1 ')
INSERT [dbo].[account] ([acc_id], [acc_user], [acc_password], [acc_authorization], [type]) VALUES (2, N'user                                              ', N'1234567                                           ', N'user      ', NULL)
SET IDENTITY_INSERT [dbo].[account] OFF
GO

# [dbo].[actor]

In [0]:
SET IDENTITY_INSERT [dbo].[actor] ON 
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender], [act_image]) VALUES (1, N'Hoa                 ', N'Hue                 ', N'1', NULL)
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender], [act_image]) VALUES (2, N'Ninh Duong          ', N'Lan Ngoc            ', N'1', NULL)
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender], [act_image]) VALUES (3, N'Tang Thanh          ', N'Hà                  ', N'1', NULL)
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender], [act_image]) VALUES (4, N'Chi                 ', N'Pu                  ', N'1', NULL)
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender], [act_image]) VALUES (5, N'Jun                 ', N'Vu                  ', N'1', NULL)
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender], [act_image]) VALUES (6, NULL, N'Midu                ', N'1', NULL)
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender], [act_image]) VALUES (7, N'Vân                 ', N'Trang               ', N'1', NULL)
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender], [act_image]) VALUES (8, N'Nhã                 ', N'Phuong              ', N'1', NULL)
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender], [act_image]) VALUES (9, N'Bình                ', N'Minh                ', N'0', NULL)
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender], [act_image]) VALUES (10, N'Kim                 ', N'Lý                  ', N'0', NULL)
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender], [act_image]) VALUES (11, N'Hua Vi              ', N'Van                 ', N'0', NULL)
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender], [act_image]) VALUES (12, N'Nguyen              ', N'HIeu                ', N'0', NULL)
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender], [act_image]) VALUES (13, N'Duong Hoang         ', N'Anh                 ', N'0', NULL)
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender], [act_image]) VALUES (15, N'hoang               ', N'minh                ', N'0', NULL)
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender], [act_image]) VALUES (16, N'hung                ', N'user                ', N'0', NULL)
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender], [act_image]) VALUES (17, N'hoang               ', N'hoang               ', N'1', NULL)
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender], [act_image]) VALUES (18, N'hung                ', N'hoang               ', N'0', NULL)
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender], [act_image]) VALUES (19, N'Test                ', N'User                ', N'1', NULL)
INSERT [dbo].[actor] ([act_id], [act_fname], [act_lname], [act_gender], [act_image]) VALUES (23, N'Hoang Thi           ', N'Loan                ', N'1', NULL)
SET IDENTITY_INSERT [dbo].[actor] OFF
GO

# [dbo].[director]

In [0]:
SET IDENTITY_INSERT [dbo].[director] ON 
INSERT [dbo].[director] ([dir_id], [dir_fname], [dir_lname]) VALUES (1, N'Victor              ', N'Vu                  ')
INSERT [dbo].[director] ([dir_id], [dir_fname], [dir_lname]) VALUES (2, N'Tran Anh            ', N'Hung                ')
INSERT [dbo].[director] ([dir_id], [dir_fname], [dir_lname]) VALUES (3, N'Vu Ngoc             ', N'Dang                ')
INSERT [dbo].[director] ([dir_id], [dir_fname], [dir_lname]) VALUES (4, N'Nguyen Quang        ', N'Dung                ')
INSERT [dbo].[director] ([dir_id], [dir_fname], [dir_lname]) VALUES (5, N'Charlie             ', N'Nguyen              ')
INSERT [dbo].[director] ([dir_id], [dir_fname], [dir_lname]) VALUES (6, N'Le                  ', N'Hoang               ')
INSERT [dbo].[director] ([dir_id], [dir_fname], [dir_lname]) VALUES (7, N'Ngo                 ', N'Cuong               ')
INSERT [dbo].[director] ([dir_id], [dir_fname], [dir_lname]) VALUES (8, N'Vu Duc              ', N'Thinh               ')
INSERT [dbo].[director] ([dir_id], [dir_fname], [dir_lname]) VALUES (9, N'ngo                 ', N'ham                 ')
INSERT [dbo].[director] ([dir_id], [dir_fname], [dir_lname]) VALUES (10, N'Truong              ', N'Nguyen              ')
INSERT [dbo].[director] ([dir_id], [dir_fname], [dir_lname]) VALUES (11, N'Tran                ', N'Hoang               ')
INSERT [dbo].[director] ([dir_id], [dir_fname], [dir_lname]) VALUES (12, N'Hung                ', N'Tran                ')
INSERT [dbo].[director] ([dir_id], [dir_fname], [dir_lname]) VALUES (13, N'Son                 ', N'Van                 ')
SET IDENTITY_INSERT [dbo].[director] OFF
GO

# [dbo].[genres]

In [0]:
SET IDENTITY_INSERT [dbo].[genres] ON 
INSERT [dbo].[genres] ([gen_id], [gen_title]) VALUES (1, N'Tinh Cam            ')
INSERT [dbo].[genres] ([gen_id], [gen_title]) VALUES (2, N'Hoat Hinh           ')
INSERT [dbo].[genres] ([gen_id], [gen_title]) VALUES (3, N'Hanh Dong           ')
INSERT [dbo].[genres] ([gen_id], [gen_title]) VALUES (4, N'Thoi Su             ')
INSERT [dbo].[genres] ([gen_id], [gen_title]) VALUES (5, N'Kinh Di             ')
INSERT [dbo].[genres] ([gen_id], [gen_title]) VALUES (6, N'Ma                  ')
INSERT [dbo].[genres] ([gen_id], [gen_title]) VALUES (7, N'Tam Ly              ')
SET IDENTITY_INSERT [dbo].[genres] OFF
GO

# [dbo].[movies]

In [0]:
SET IDENTITY_INSERT [dbo].[movies] ON 
INSERT [dbo].[movies] ([mov_id], [mov_title], [mov_year], [mov_time], [mov_lang], [mov_dt_rel], [mov_rel_country]) VALUES (2, N'Monsieur Vincent                                  ', 2020, 120, N'English                                           ', CAST(N'2020-02-02' AS Date), N'phap                ')
INSERT [dbo].[movies] ([mov_id], [mov_title], [mov_year], [mov_time], [mov_lang], [mov_dt_rel], [mov_rel_country]) VALUES (3, N'Sciuscia                                          ', 2020, 120, N'English                                           ', CAST(N'1905-07-11' AS Date), N'Italia              ')
INSERT [dbo].[movies] ([mov_id], [mov_title], [mov_year], [mov_time], [mov_lang], [mov_dt_rel], [mov_rel_country]) VALUES (4, N'Sciuscia                                          ', 2020, 120, N'English                                           ', CAST(N'1905-06-19' AS Date), N'Italia              ')
INSERT [dbo].[movies] ([mov_id], [mov_title], [mov_year], [mov_time], [mov_lang], [mov_dt_rel], [mov_rel_country]) VALUES (5, N'Jigokumo                                          ', 2019, 180, N'English                                           ', CAST(N'1905-06-24' AS Date), N'Japan               ')
INSERT [dbo].[movies] ([mov_id], [mov_title], [mov_year], [mov_time], [mov_lang], [mov_dt_rel], [mov_rel_country]) VALUES (6, N'Jigokumo                                          ', 2019, 180, N'English                                           ', CAST(N'1894-06-30' AS Date), N'Japan               ')
INSERT [dbo].[movies] ([mov_id], [mov_title], [mov_year], [mov_time], [mov_lang], [mov_dt_rel], [mov_rel_country]) VALUES (7, N'Jigokumo                                          ', 2019, 180, N'English                                           ', CAST(N'2020-12-12' AS Date), N'Japan               ')
SET IDENTITY_INSERT [dbo].[movies] OFF
GO

# [dbo].[rating]

In [0]:
INSERT [dbo].[rating] ([mov_id], [rev_id], [rev_stars], [num_o_ratings]) VALUES (2, 1, 5, 20)
INSERT [dbo].[rating] ([mov_id], [rev_id], [rev_stars], [num_o_ratings]) VALUES (3, 2, 4, 30)
INSERT [dbo].[rating] ([mov_id], [rev_id], [rev_stars], [num_o_ratings]) VALUES (5, 4, NULL, NULL)
INSERT [dbo].[rating] ([mov_id], [rev_id], [rev_stars], [num_o_ratings]) VALUES (4, 3, 3, 20)
INSERT [dbo].[rating] ([mov_id], [rev_id], [rev_stars], [num_o_ratings]) VALUES (5, 4, 2, 10)
INSERT [dbo].[rating] ([mov_id], [rev_id], [rev_stars], [num_o_ratings]) VALUES (3, 2, NULL, NULL)
INSERT [dbo].[rating] ([mov_id], [rev_id], [rev_stars], [num_o_ratings]) VALUES (4, 3, NULL, NULL)
GO

# [dbo].[reviewer]

In [0]:
SET IDENTITY_INSERT [dbo].[reviewer] ON 
INSERT [dbo].[reviewer] ([rev_id], [rev_name]) VALUES (1, N'Very Good                     ')
INSERT [dbo].[reviewer] ([rev_id], [rev_name]) VALUES (2, N'
fine                        ')
INSERT [dbo].[reviewer] ([rev_id], [rev_name]) VALUES (3, N'
bad                         ')
INSERT [dbo].[reviewer] ([rev_id], [rev_name]) VALUES (4, N'very bad                      ')
INSERT [dbo].[reviewer] ([rev_id], [rev_name]) VALUES (5, N'unsatisfied                   ')
INSERT [dbo].[reviewer] ([rev_id], [rev_name]) VALUES (6, N'hoa hong do                   ')
INSERT [dbo].[reviewer] ([rev_id], [rev_name]) VALUES (7, N'hay lam                       ')
INSERT [dbo].[reviewer] ([rev_id], [rev_name]) VALUES (8, N'bin thuong                    ')
INSERT [dbo].[reviewer] ([rev_id], [rev_name]) VALUES (9, N'sciuscia movie sad            ')
SET IDENTITY_INSERT [dbo].[reviewer] OFF
GO

# [FK_movie_cast_actor]

In [0]:
ALTER TABLE [dbo].[movie_cast]  WITH CHECK ADD  CONSTRAINT [FK_movie_cast_actor] FOREIGN KEY([act_id])
REFERENCES [dbo].[actor] ([act_id])
GO
ALTER TABLE [dbo].[movie_cast] CHECK CONSTRAINT [FK_movie_cast_actor]
GO

# [FK_movie_cast_movies]

In [0]:
ALTER TABLE [dbo].[movie_cast]  WITH CHECK ADD  CONSTRAINT [FK_movie_cast_movies] FOREIGN KEY([mov_id])
REFERENCES [dbo].[movies] ([mov_id])
GO
ALTER TABLE [dbo].[movie_cast] CHECK CONSTRAINT [FK_movie_cast_movies]
GO

# [FK_movie_direction_director]

In [0]:
ALTER TABLE [dbo].[movie_direction]  WITH CHECK ADD  CONSTRAINT [FK_movie_direction_director] FOREIGN KEY([dir_id])
REFERENCES [dbo].[director] ([dir_id])
GO
ALTER TABLE [dbo].[movie_direction] CHECK CONSTRAINT [FK_movie_direction_director]
GO

# [FK_movie_direction_movies]

In [0]:
ALTER TABLE [dbo].[movie_direction]  WITH CHECK ADD  CONSTRAINT [FK_movie_direction_movies] FOREIGN KEY([mov_id])
REFERENCES [dbo].[movies] ([mov_id])
GO
ALTER TABLE [dbo].[movie_direction] CHECK CONSTRAINT [FK_movie_direction_movies]
GO

# [FK_movie_genres_genres]

In [0]:
ALTER TABLE [dbo].[movie_genres]  WITH CHECK ADD  CONSTRAINT [FK_movie_genres_genres] FOREIGN KEY([gen_id])
REFERENCES [dbo].[genres] ([gen_id])
GO
ALTER TABLE [dbo].[movie_genres] CHECK CONSTRAINT [FK_movie_genres_genres]
GO

# [FK_movie_genres_movies]

In [0]:
ALTER TABLE [dbo].[movie_genres]  WITH CHECK ADD  CONSTRAINT [FK_movie_genres_movies] FOREIGN KEY([mov_id])
REFERENCES [dbo].[movies] ([mov_id])
GO
ALTER TABLE [dbo].[movie_genres] CHECK CONSTRAINT [FK_movie_genres_movies]
GO

# [FK_rating_movies]

In [0]:
ALTER TABLE [dbo].[rating]  WITH CHECK ADD  CONSTRAINT [FK_rating_movies] FOREIGN KEY([mov_id])
REFERENCES [dbo].[movies] ([mov_id])
GO
ALTER TABLE [dbo].[rating] CHECK CONSTRAINT [FK_rating_movies]
GO

# [FK_rating_reviewer]

In [0]:
ALTER TABLE [dbo].[rating]  WITH CHECK ADD  CONSTRAINT [FK_rating_reviewer] FOREIGN KEY([rev_id])
REFERENCES [dbo].[reviewer] ([rev_id])
GO
ALTER TABLE [dbo].[rating] CHECK CONSTRAINT [FK_rating_reviewer]
GO

# [dbo].[addMovie]

In [0]:
/****** Object:  StoredProcedure [dbo].[addMovie]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[addMovie]
@mov_title char(50),
@mov_year integer,
@mov_time integer,
@mov_lang char(50),
@mov_dt_rel date,
@mov_rel_country char(5)
as

begin
	insert into movies(mov_title, mov_year,mov_time,mov_lang,mov_dt_rel,mov_rel_country) 
	values (@mov_title,@mov_year,@mov_time,@mov_lang,@mov_dt_rel,@mov_rel_country)
	-- kiem tra insert thanh cong hay that bai 
	IF @@ROWCOUNT > 0 BEGIN RETURN 1 END ELSE BEGIN RETURN 0 END
end
GO

# [dbo].[addReviews]

In [0]:
/****** Object:  StoredProcedure [dbo].[addReviews]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addReviews]
@rev_name char(30),
@mov_id int,
@rev_id int
as
begin
	--mov_id,mov_title,mov_dt_rel
	insert into reviewer(rev_name) values (@rev_name)
	--select bang reviewr
	
	-- insert into rating
	insert into rating (mov_id,rev_id) values (@mov_id,@rev_id)
				-- kiem tra insert thanh cong hay that bai 
		IF @@ROWCOUNT > 0 BEGIN RETURN 1 END ELSE BEGIN RETURN 0 END
end
GO

# [dbo].[insertActor]

In [0]:
/****** Object:  StoredProcedure [dbo].[insertActor]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[insertActor]
@act_fname char(20),
@act_lname char(20),
@act_gender char(1)
as
begin
		insert into actor (act_fname,act_lname,act_gender) values (@act_fname,@act_lname,@act_gender)
	-- kiem tra insert thanh cong hay that bai 
	IF @@ROWCOUNT > 0 BEGIN RETURN 1 END ELSE BEGIN RETURN 0 END
end
GO

# [dbo].[insertDirector]

In [0]:
/****** Object:  StoredProcedure [dbo].[insertDirector]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertDirector]
@dir_fname char(20),
@dir_lname char(20)
as
begin
	insert into director(dir_fname,dir_lname) values (@dir_fname,@dir_lname)

		-- kiem tra insert thanh cong hay that bai 
	IF @@ROWCOUNT > 0 BEGIN RETURN 1 END ELSE BEGIN RETURN 0 END
end
GO

# [dbo].[insertGenres]

In [0]:
/****** Object:  StoredProcedure [dbo].[insertGenres]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--insert into genres
create proc [dbo].[insertGenres]
@gen_title char(20)
as
begin		
		insert into genres(gen_title) values (@gen_title)
			-- kiem tra insert thanh cong hay that bai 
		IF @@ROWCOUNT > 0 BEGIN RETURN 1 END ELSE BEGIN RETURN 0 END
end
GO

# [dbo].[Login]

In [0]:
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Login] 
@acc_user char(50),
@acc_password char(50)
as
begin
	select * from account where acc_user=@acc_user and acc_password= @acc_password
end
GO

# [dbo].[selectActor]

In [0]:
/****** Object:  StoredProcedure [dbo].[selectActor]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[selectActor] -- tao procedure select toàn bộ danh sách Diễn Viên
	@tukhoa nvarchar(50) -- tìm kiếm sinh viên dựa trên từ khóa
	--1 : tìm theo mã Diễn Viên
	--2: tìm theo họ, tên đệm, tên
	--4: loại tìm kiếm: tương đối 
as
begin
	select act_id,
	act_fname,
	act_lname,
	case
		when act_gender = 0 then 'Nam' 
		else N'Nữ' 
		end as act_gender
		--- custom lại hiển thị giới tính. Nếu là 1: nam. Nếu là 0 thì nữ 
from actor
where
		LOWER(act_fname) like'%'+LOWER(trim(@tukhoa)) + '%'
		or LOWER(act_fname) like'%'+LOWER(trim(@tukhoa)) + '%'
		or LOWER(act_gender) like'%'+LOWER(trim(@tukhoa)) + '%'
	order by act_id;
end
GO

# [dbo].[SelectAllActor]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectAllActor]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SelectAllActor]-- tao procedure select toàn bộ danh sách sinh viên
as
begin
	select act_id,
	act_fname,
	act_lname,
	case
		when act_gender = 0 then 'Nam' 
		else N'Nữ' 
		end as act_gender
		--- custom lại hiển thị giới tính. Nếu là 1: nam. Nếu là 0 thì nữ 
	from actor
end
GO

# [dbo].[selectAllReviews]

In [0]:
/****** Object:  StoredProcedure [dbo].[selectAllReviews]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[selectAllReviews]

as
	select mov_id,mov_title,mov_dt_rel from movies
GO

# [dbo].[SelectDirector]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectDirector]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SelectDirector]

As

Begin
		select * from director
End
GO

# [dbo].[selectGenres]

In [0]:
/****** Object:  StoredProcedure [dbo].[selectGenres]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selectGenres]
as
begin
	select * from genres
end
GO

# [dbo].[selectMovies]

In [0]:
/****** Object:  StoredProcedure [dbo].[selectMovies]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[selectMovies]
as
begin
	select m.mov_title,mov_year,mov_time,mov_lang,mov_dt_rel,mov_rel_country,g.gen_title,d.dir_lname,a.act_lname from movies m 
			inner join movie_genres mn on m.mov_id = mn.mov_id
			inner join genres g on g.gen_id = mn.gen_id
			inner join movie_direction md on md.mov_id = m.mov_id
			inner join director d on d.dir_id = md.dir_id
			inner join movie_cast mc on m.mov_id = mc.mov_id
			inner join actor a on a.act_id = mc.act_id
end
GO

# [dbo].[selectRating]

In [0]:
/****** Object:  StoredProcedure [dbo].[selectRating]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[selectRating]
as
	select m.mov_id,r.rev_id,m.mov_title,r.num_o_ratings,rev.rev_name from rating  r
	inner join movies m on r.mov_id = m.mov_id
	inner join reviewer rev on r.rev_id = rev.rev_id
GO

# [dbo].[selectUpdateActor]

In [0]:
/****** Object:  StoredProcedure [dbo].[selectUpdateActor]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selectUpdateActor]
@act_id int
as
begin
	select * from actor where act_id = @act_id
end
GO

# [dbo].[updateActor]

In [0]:
/****** Object:  StoredProcedure [dbo].[updateActor]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updateActor]
@act_fname char(20),
@act_lname char(20),
@act_gender char(1),
@act_id integer
as

begin
	update actor set 
	act_fname=@act_fname,
	act_lname=@act_lname,
	act_gender=@act_gender
	where 	act_id=@act_id
end
GO

# [dbo].[updateDirector]

In [0]:
/****** Object:  StoredProcedure [dbo].[updateDirector]    Script Date: 11/30/2020 10:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updateDirector]
@dir_fname char(20),
@dir_lname char(20),
@dir_id integer
as
begin
	update director set 
	dir_fname= @dir_fname,
	dir_lname= @dir_lname
	where dir_id=@dir_id
end
GO